<h2><%= @flat.name %></h2>
<p><%= @flat.address %></p>
<p><%= @flat.description %></p>
<p><b>Number of guests:</b> <%= @flat.number_of_guests %></p>
<p><b>Price / night: ¢</b><%= @flat.price_per_night %></p>

<p> <%= link_to "Edit listing", edit_flat_path(@flat) %> </p>
<p> <%= link_to "Delete listing", flat_path(@flat), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
} %></p>
<p> <%= link_to "Main page", flats_path %> </p>

